antlr4-python3-runtime==4.9.1
certifi==2020.12.5
CFGraph==0.2.1
chardet==4.0.0
idna==2.10
isodate==0.6.0
jsonasobj==1.2.1
PyJSG==0.11.6
pyparsing==2.4.7
PyShEx==0.7.20
PyShExC==0.8.3
rdflib==5.0.0
rdflib-jsonld==0.5.0
requests==2.25.1
ShExJSG==0.7.1
six==1.15.0
sparqlslurper==0.4.1
SPARQLWrapper==1.8.5
urllib3==1.26.3
